@page "/"
@using BlazorStyled
@using DataJuggler.UltimateHelper 
@using DataJuggler.Blazor.Components
@using DataJuggler.Blazor.FileUpload
@using DataJuggler.Blazor.Components.Enumerations

<Styled @bind-Classname="DownloadLink">    
    color: white;
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: Verdana;
    text-decoration: none;
    cursor: pointer;    
    height: 2.04vh;
    line-height: 2.04vh;
    font-size: @SmallTextSizeStyle;
    font-weight: normal;
    position: fixed;    
    display: inline;
    left: 2.8%;
    margin-top: .4vh;
</Styled>
<Styled @bind-Classname="DownloadLink2">    
    color: white;  
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: Verdana;
    text-decoration: none;
    cursor: pointer;    
    height: 2.04vh;
    line-height: 2.04vh;
    font-size: @LargeTextSizeStyle;
    font-weight: normal;
    position: relative;    
    display: inline-block;
    left: 114%;
    top: -4;
    margin-top: .4vh;
</Styled>
<Styled @bind-Classname="Instructions">
    font-size: @SmallTextSizeStyle;    
    line-height: @InstructionsLineHeight;
    color: white;
    position: fixed;
    top: 40vh;
    left: 26%;
    display: @InstructionsDisplay;        
</Styled>
<Styled @bind-Classname="SelectClasses">
    width: 20%;
    height: 6vh;
    position: fixed;
    top: 14.8vh;
    left: @LeftStyle;
</Styled>
<Styled @bind-Classname="SideBarElementText">
    text-align: center;
    font-family: Verdana;
    font-size: @TextSizeStyle;
    font-weight: bold;
</Styled>
<Styled @bind-Classname="SideBarSmallText">
    text-align: left;
    font-family: Verdana;
    font-size: @SmallTextSizeStyle;
    font-weight: normal;
</Styled>
<Styled @bind-Classname="SideBarLargeText">
    text-align: left;
    font-family: Verdana;
    font-size: @TextSizeStyle;
    font-weight: normal;
</Styled>
<Styled @bind-Classname="SideBarLargeTextBold">
    text-align: left;
    font-family: Verdana;
    font-size: @TextSizeStyle;
    font-weight: bold;
</Styled>
<Styled @bind-Classname="Slogan">
    font-family: Verdana;
    font-size: @LargeTextSizeStyle;
    position: absolute;
    top: 8.4vh;
    left: .4%;
    white-space: nowrap;    
</Styled>
<Styled @bind-Classname="Smallheader">
    font-weight: bold;
    font-size: @TextSizeStyle;    
</Styled>
<Styled @bind-Classname="StatusStyle">  
    text-align: center;
    position: absolute;
    top: 18vh;
    left: -4%;
    width: 60%;
    height: 2.8vh;
    line-height: 2.8vh;
    font-size: @LargeTextSizeStyle;
    color: @LabelColor;
</Styled>
<Styled @bind-Classname="Grid">
    display: grid;    
    grid-template-columns: @Column1Width 1fr;
    grid-column-gap: 2px;
    height: auto;
    width: 80%;
    font-size: @TextSizeStyle;
    position: relative;
    left: -12%;
    top: 8vh;    
</Styled>

<div class="sidebar">
    <div class="sidebarelement">
       <div class="@SideBarElementText">
            Downloads
        </div>
        <div class="displayinline">
            <div class="smallicon">
                <a class="@DownloadLink" download="MemberData.xlsx" href="@SampleMemberDataPath" target="_blank">MemberData.xlsx</a>
            </div>
            <div class="@SideBarLargeText">
                This workbook contains 20,000 sample records on both sheets:<br />
                Member<br />
                Address
            </div>
            <br />
            <div class="blankline"></div>
            <div class="blankline"></div>
            <div class="@SideBarSmallText text-nowrap">
                <div class="@SideBarLargeTextBold">
                    Want the source code?<br />
                </div>
                <div class="blankline"></div>
                <span class="text-nowrap">
                    <a class="whitetext" href="https://github.com/DataJuggler/Blazor.Excelerate" target="_blank">Blazor.Excelerate Git Hub</a><br />
                </span>
                <div class="blankline"></div>
                <span class="text-nowrap">
                    <a class="whitetext" href="https://github.com/DataJuggler/DataJuggler.Excelerate" target="_blank">DataJuggler.Excelerate Git Hub</a><br />
                </span>
                <div class="blankline"></div>
                <span class="text-nowrap">
                    <a class="whitetext" href="https://github.com/DataJuggler/DataJuggler.Blazor.Components" target="_blank">DataJuggler.Blazor.Components</a><br />
                </span>
                <div class="blankline"></div>
                <span class="text-nowrap">
                    <a class="whitetext" href="https://github.com/DataJuggler/DataJuggler.Blazor.FileUpload" target="_blank">DataJuggler.Blazor.FileUpload</a><br />
                </span>
            </div>
        </div>        
    </div>    
</div>
<div class="logo"></div>
<div class="topbar">
    <div class="logotext">
    </div>
    <div class="@Slogan">
        An online demo of Nuget package DataJuggler.Excelerate
    </div>
</div>
<div class="topright">
    <ComboBox OnChange="SelectionChanged" Parent="this" Name="TextSizeComboBox"
          Height="6" Width="100" LabelSize="30" LabelText="Text Size:" TextSize="TextSizeEnum.Large">
    </ComboBox>
    <div class="businesscard"></div>
</div>
<div class="contentmain">
    <div class="row displayinline contentmaintoprow">
        <FileUpload CustomSuccessMessage="Your file uploaded successfully." 
            OnReset="OnReset" ResetButtonClassName="localbutton" ShowStatus="false"
            PartialGuidLength="12" MaxFileSize=@UploadLimit FilterByExtension="true" 
            ShowCustomButton="true"  ButtonText="Upload Excel" OnChange="OnFileUploaded"
            CustomButtonClassName="orangeButton" AllowedExtensions=".xlsx"
            ShowResetButton="false" AppendPartialGuid="true"
            CustomExtensionMessage="Only .xlsx extensions are allowed." 
            InputFileClassName="customfileupload" Visible=false Status="Refresh"
            FileTooLargeMessage=@FileTooLargeMessage>
        </FileUpload>       
    </div>
    <div class="@SelectClasses">
        <ComboBox OnChange="SheetSelected" Parent="this" Name="SheetNamesComboBox"
                LabelColor="White" Position="relative" Visible="true" 
                Left="0" Top="4" Width="120"  LabelSize="30"
                LabelText="Sheets:" TextSize="TextSizeEnum.Large">
        </ComboBox>
    </div>
    <div>
        <div class="row .zindex5">
            <ImageButton ButtonNumber="2" ButtonText="Generate Class" Name="GenerateClassesButton"
                TextSize="TextSizeEnum.Large" Left="28" Top="4.8" Height="4" 
                Width="120" ImageUrl="@ButtonUrl" Parent="this"></ImageButton>
            <ValidationComponent Name="NamespaceComponent" Parent="this" Caption="Namespace"
                LabelColor="White" IsRequired="true" ValidationMessage="You must enter a namespace"
                Top="10"></ValidationComponent>
        </div>
    </div>
    <div class="@StatusStyle">
        <label class="text-center">@Status</label>
    </div>
    @if ((HasResponse) && (Response.Success) && (Response.HasFileName) && (Response.HasFullPath))
     {
         <div class="smallicon2 text-white text-nowrap">
            <a class="@DownloadLink2" download="@Response.FileName" href="@DownloadPath" target="_blank">@Response.FileName</a><br />
             <span class="small text-white">
                 * Browsers do not allow downloading files with .cs extensions, so download this zip file and extract to a folder.
             </span>
        </div>
    }
    <div class="@Instructions">
        <div class="@Grid">
            <div class="column instructionscolumn1">
                <ImageButton ButtonNumber="3" ButtonText="Hide Instructions" Name="HideInstructionsButton"
                    TextSize="TextSizeEnum.Large" Left="4" Top="0" Height="4"
                    Width="120" ImageUrl="../Images/OrangeButton.png" Parent="this"></ImageButton>
            </div>
            <div class="column instructionscolumn2">
                <div class="marginsmall @Smallheader">Instructions</div>
                <div class="blankline"></div>
                1. Prepare your spreadsheet and ensure your worksheet has a header row, 
                and the column names make good property names. Download Members.xlsx to see a good example.<br />
                2. Upload your spreadsheet and select the sheet to code generate a class for.<br />
                3. Type in a namespace for your project and click the 'Generate Class' button.<br />
                4. Download the zip file and extract the contents to get your .cs file.<br />
                <div class="blankline"></div>
                <div class="marginsmall @Smallheader">Tips / Troubleshooting</div>
                <div class="blankline"></div>
                It helps to have some rows of data to attempt to determine the data type. Getting the data type is kind of a hack,
                as I could not find away with EPP Plus to get the column data types.<br />
                <div class="blankline"></div>
                <div class="blankline"></div>
                If you have a problem generating classes, create an issue here or to clone or star:<br />
                <a class="orangetext" href="https://github.com/DataJuggler/Excelerate">DataJuggler.Excelerate Git Hub</a><br />
                <div class="blankline"></div>
        
                If you have a problem with this site, create an issue here or to clone or star:<br />
                <a class="orangetext" href="https://github.com/DataJuggler/Blazor.Excelerate">Blazor.Excelerate Git Hub</a><br />
                <div class="blankline"></div>
                <div class="marginsmall @Smallheader">Data Privacy</div>
                <div class="blankline"></div>
                No one has access to my server except me and my dog.<br />
                I am building a Windows Service that deletes files older than one hour.<br />
                This will be deployed in the next few days (estimate 10/18/2021).
            </div>
        </div>
    </div>
</div>

    


