@page "/"
@using BlazorStyled
@using DataJuggler.UltimateHelper 
@using DataJuggler.Blazor.Components
@using DataJuggler.Blazor.FileUpload
@using DataJuggler.Blazor.Components.Enumerations

<Styled @bind-Classname="Slogan">
    font-family: Verdana;
    font-size: @LargeTextSizeStyle;
    position: absolute;
    top: 8.4vh;
    left: .4%;
    white-space: nowrap;    
</Styled>
<Styled @bind-Classname="SideBarElementText">
    text-align: center;
    font-family: Verdana;
    font-size: @TextSizeStyle;
    font-weight: bold;
</Styled>
<Styled @bind-Classname="SideBarSmallText">
    text-align: left;
    font-family: Verdana;
    font-size: @TextSizeStyle;
    font-weight: normal;
</Styled>
<Styled @bind-Classname="DownloadLink">    
    color: rgb(48, 88, 184);  
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: Verdana;
    text-decoration: none;
    cursor: pointer;    
    height: 2.04vh;
    line-height: 2.04vh;
    font-size: @TextSizeStyle;
    font-weight: normal;
    position: fixed;    
    display: inline;
    left: 2.8%;
    margin-top: .4vh;
</Styled>
<Styled @bind-Classname="DownloadLink2">    
    color: white;  
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: Verdana;
    text-decoration: none;
    cursor: pointer;    
    height: 2.04vh;
    line-height: 2.04vh;
    font-size: @LargeTextSizeStyle;
    font-weight: normal;
    position: relative;    
    display: inline-block;
    left: 120%;
    top: 0;
    margin-top: .4vh;
</Styled>
<Styled @bind-Classname="SelectClasses">
    width: 20%;
    height: 6vh;
    position: fixed;
    top: 14.8vh;
    left: @LeftStyle;
</Styled>
<Styled @bind-Classname="StatusStyle">  
    text-align: center;
    position: absolute;
    top: 22vh;
    left: -4%;
    width: 60%;
    height: 2.8vh;
    line-height: 2.8vh;
    font-size: @LargeTextSizeStyle;
    color: @LabelColor;
</Styled>

<div class="sidebar">
    <div class="sidebarelement">
       <div class="@SideBarElementText">
            Downloads
        </div>
        <div class="displayinline">
            <div class="smallicon">
                <a class="@DownloadLink" download="MemberData.xlsx" href="@SampleMemberDataPath" target="_blank">MemberData.xlsx</a>
            </div>
            <div class="@SideBarSmallText">
                This workbook contains 20,000 sample records on both sheets:<br />
                Member<br />
                Address
            </div>
        </div>        
    </div>    
    <div class="bottomsidebar">
        
    </div>
</div>
<div class="logo"></div>
<div class="topbar">
    <div class="logotext">
    </div>
    <div class="@Slogan">
        An online demo of Nuget package DataJuggler.Excelerate
    </div>
</div>
<div class="topright">
    <ComboBox OnChange="SelectionChanged" Parent="this" Name="TextSizeComboBox"
          Height="6" Width="100" LabelSize="30" LabelText="Text Size:" TextSize="TextSizeEnum.Large">
    </ComboBox>
</div>
<div class="contentmain">
    <div class="row displayinline contentmaintoprow">
        <FileUpload CustomSuccessMessage="Your file uploaded successfully." 
            OnReset="OnReset" ResetButtonClassName="localbutton" ShowStatus="false"
            PartialGuidLength="12" MaxFileSize=@UploadLimit FilterByExtension="true" 
            ShowCustomButton="true"  ButtonText="Upload Excel" OnChange="OnFileUploaded"
            CustomButtonClassName="orangeButton" AllowedExtensions=".xlsx"
            ShowResetButton="false" AppendPartialGuid="true"
            CustomExtensionMessage="Only .xlsx extensions are allowed." 
            InputFileClassName="customfileupload" Visible=false Status="Refresh"
            FileTooLargeMessage=@FileTooLargeMessage>
        </FileUpload>       
    </div>
    <div class="@SelectClasses">
        <ComboBox OnChange="SheetSelected" Parent="this" Name="SheetNamesComboBox"
                LabelColor="White" Position="relative" Visible="true" 
                Left="0" Top="8" Width="120"  LabelSize="30"
                LabelText="Sheets:" TextSize="TextSizeEnum.Large">
        </ComboBox>
    </div>
    <div>
        <div class="row .zindex5">
            <ImageButton ButtonNumber="2" ButtonText="Generate Class" Name="GenerateClassesButton"
                TextSize="TextSizeEnum.Large" Left="28" Top="8.8" Height="4" 
                Width="120" ImageUrl="@ButtonUrl" Parent="this"></ImageButton>
            <ValidationComponent Name="NamespaceComponent" Parent="this" Caption="Namespace"
                LabelColor="White" IsRequired="true" ValidationMessage="You must enter a namespace"
                Top="14"></ValidationComponent>
        </div>
    </div>
    <div class="@StatusStyle">
        <label class="text-center">@Status</label>
    </div>
    @if ((HasResponse) && (Response.Success) && (Response.HasFileName) && (Response.HasFullPath))
     {
         <div class="smallicon2 text-white text-nowrap">
            <a class="@DownloadLink2" download="@Response.FileName" href="@DownloadPath" target="_blank">@Response.FileName</a>
        </div>
    }
</div>

    


